body{
    background-image: url(images/g.jpg);
    background-repeat: no-repeat;
    background-size: 5000px;
    color:rgba(255, 255, 255, 0.815);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
color:rgba(0, 0, 0, 0.753);


}

h2{
color:rgb(0, 0, 0);


}

li{
color:rgb(175, 170, 170);


}
button{
    background:rgb(5, 5, 5);
color:rgb(235, 238, 238);

}

header{
    background-image: url(images/h.jpg);
   background-size: 600px;
    background-position: center;
    background-repeat: no-repeat;
;
height: 300px;
padding: 0px
;

text-align: center;
margin: 0px;
}
@media screen and (max-width){


}
.features{
    background-color:none;
color:rgb(255, 255, 255);
padding:-60px;
margin: 30px;
display: flex;
        flex-direction: row;
        width: 1200px;
}

.features figure{
margin: auto;
width:300px;
text-align: center;
text-transform: uppercase;
}
.features figure img{
border-radius: 40%;
width: 300px;
box-shadow: rgb(252, 252, 252) 0 0 20px;

}




footer{
    
color:rgb(235, 8, 8);
margin: 10px;
padding:20px;
width: 500px;
position: auto;
height: 600px;
}

div{
    background:rgb(243, 48, 48);
color:rgb(255, 0, 0);

margin:auto;
width: 100px;
}
ul{
margin: 0px;
padding: 0px;
list-style-type: none;

}
li{
display:inline-block;
margin:20px;
}
  
@media screen and (max-width :2000px){
.features{
display: inline-block;

}


}
@media screen and (max-width:800px){
    header{
        margin: 40px;
 width: 450px;
    margin: -10px;
  height: 250px;
    }
    


}

@media screen and (max-width:500px){
.features{

width: 300px;
padding: 20px;
color: rgb(0, 0, 0);
padding: 0px;

position: 0px    50px;


}


}

@media screen and (max-width:600px){
footer{
width: 300px;
height: 330px;


}





}



